<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <label>用户名：</label><input name="username" placeholder="请输入用户名"> <br/>
    <label>密码：</label><input type="password" name="password" placeholder="请输入密码"> <br/>
    <label>确认密码：</label><input type="password" name="password2" placeholder="请输入确认密码"> <br/>
    <input type="submit" value="注册">
</form>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}


</body>
</html>